p {
    font-style: italic;
    font-size:1rem;
}

.red-text{
    color: red;
    font-size: 1.5rem;
}

#third-paragraph {
    color: blue;
    font-style: normal;
    font-size: 2rem;
}

#fifth-paragraph {
    background-color: aqua ;
}
